main {
    height: 280px;
    width: 400px;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    border-radius: 2px;
    box-shadow: 2px 2px 10px 2px gray;
    border-radius: 20px;
}

h1, h2 {
    margin: 0 
}

h1 {
    font-size: 3rem;
    font-family: sans-serif;
    text-transform: uppercase;
}

.top {
    background-color: red;
    border-radius: 20px 20px 0px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.bottom {
    background-color: red;
    border-radius: 0px 0px 20px 20px;
}

h1 {

}